.UsersPassWordLevel2ModalClass {
    width: 40vw !important;
}

.modalUserClass {
    width: 60vw !important;
}

.tabRoleManagerUserClass .ant-checkbox-group {
    width: 50vw !important;
}

.tabRoleManagerUserClass .ant-checkbox-group-item {
    width: 40% !important;
}